{% extends 'base.html' %}
{% block title %}View User{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>View User</h1>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <th>Edit</th>
  </tr>
  </thead>
  {% for row in value %}
    <tr>
      <th>{{row[0]}}</th>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>
        {% if row[4] == 0: %}
        {%   print("Driver")%}
        {% else:%}
        {%   print("Admin")%}
        {% endif %}
      </td>
      <td><a href="edit_user/{{row[5]}}"> <-Edit </a></td>
    </tr>
  {% endfor %}

</table>

{% endblock %}
