{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block content %}
<h1>All Events</h1>
<table border="3px">
  <tr>
    <th>Sl. No</th>
    <th>Title</th>
    <th>Date Time</th>
    <th>Location</th>
    <th>Description</th>
    <th>Register</th>
    <th>created by</th>

  </tr>
  {% for event in events %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{event.title}}</td>
      <td>{{event.datetime}}</td>
      <td>{{event.location}}</td>
      <td>{{event.description}}</td>
      <td><form action="/events/{{event.id}}" method="get">
        
        <input type="submit" value="register">
         </form></a></td>
         <td>{{event.user_id}}</td>

    </tr>
  {% endfor %}

</table>
<form action="/events/create">
  {% csrf_token %}
  <input type="submit" value="Click here to create an event" class="btn btn-primary btn-block"/>
</form>

{% endblock %}
